* {
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, sans-serif;
  box-sizing: border-box;
  /* background: #f1f3f6; */
}
body {
  /* text-decoration: none; */
  min-height: 100vh;
  background: #f1f3f6;
}
/* Navabar */
.topNav {
  display: flex;
  background-color: #2874f0;
  height: 56px;
  position: sticky;
  top: 0;
  z-index: 2;
  max-width: 100vw;
}
.navContainer {
  display: flex;
  align-items: center;
  max-width: 78em;
  position: relative;
  left: 61px;
  /* max-width: 1248px; */
  margin: auto;
  width: 100%;
}
/* Flipkart Logo + Explore Plus */
.plainLogo {
  display: flex;
  flex-direction: column;
  width: fit-content;
}
.expPlus {
  text-decoration: none;
  cursor: pointer;
  color: white;
  font-size: 11px;
  font-style: italic;
  margin-top: -3px;
}
.expPlus:hover {
  text-decoration: underline;
  color: white;
}
.plainLogo img {
  width: 75px;
}
.expPlus .plusImg {
  padding-top: 2px;
  width: 10px;
}
.plus {
  color: #ffe500;
  margin: 0 2px;
  font-weight: 600;
}
.fa {
  margin: 0;
}

/* search bar */
.searchBar {
  min-width: 304px;
  width: 560px;
}
.search {
  max-width: 564px;
  width: 100%;
  background-color: black;
  box-shadow: 0 2px 2px 0 rgb(132, 132, 132);
  margin-left: 10px;
}
.searchBox {
  outline: none;
  border: none;
  padding: 0 16px;
  height: 36px;
  width: 100%;
  font-size: 14px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.searchBtn {
  color: #2874f0;
  background: #fff;
  padding: 4px 12px 4px 8px;
  border: 1px solid #fff;
  font-size: 19px;
  border-radius: 0 2px 2px 0;
}
.searchField {
  display: flex;
}

.signupNew {
  display: flex;
}
.none {
  display: none;
}
/* Login Button */
.loginBtn {
  position: relative;
  left: 35px;
}
.login {
  color: #2874f0;
  border-radius: 2px;
  text-decoration: none;
  /* letter-spacing: 1px; */
  height: 32px;
  margin: 0 20px;
  padding: 6px 40px;
  background: #fff;
  border: 1px solid white;
  font-size: 16px;
  font-weight: 600;
}
/* Become Seller */
.becASeller {
  position: relative;
  left: 45px;
  margin-right: 15px;
  font-weight: 600;
}
.becASellerTxt {
  text-decoration: none;
  color: white;
  font-size: 16px;
}
/* More and Cart */
.more,
.cart {
  position: relative;
  left: 45px;
}

.moreTxt,
.cartTxt {
  font-weight: 600;
  color: white;
  margin: 0 25px;
  font-size: 16px;
}

.options {
  width: 20px;
  height: 20px;
  background: #fff;
  transform: rotate(0deg);
  position: relative;
  top: 10px;
  left: 50%;
}

.loginMenu,
.moreMenu {
  position: relative;
  top: 12px;
}
.moreMenu {
  right: 40px;
}
.loginOptions,
.moreMenuOptions {
  position: absolute;
  list-style: none;
  background-color: #fff;
  width: max-content;
  box-shadow: 0 4px 16px 0 rgb(0 0 0 /20%);
  min-width: 240px;
  transform: translate(10px);
}
.ulItem,
.moreItems {
  padding: 16px;
  border-bottom: 1px solid #f0f0f0;
  font-size: 14px;
  cursor: pointer;
}

.ulItem:last-child,
.moreItems:last-child {
  border-bottom: none;
}

.ulItem:first-child {
  padding: 20px;
}
.ulItem:first-child:hover {
  background: #fff;
}
.ulItem:hover,
.moreItems:hover {
  background: #fafafa;
}

.new {
  font-weight: 600;
}
.signupNew {
  justify-content: space-between;
  font-size: 14px;
}
.signup {
  text-decoration: none;
  color: #2874f0;
}

.more:hover .moreTxt {
  position: relative;
  top: 10px;
}
.moreOptions {
  left: 50%;
}

.loginIcon,
.moreIcon {
  width: 25px;
  color: #2874f0;
}

.loginBtn:hover .loginMenu,
.more:hover .moreMenu {
  display: block;
}
/* Category section */
.categoryOptions {
  display: flex;
  background: #fff;
  justify-content: center;
  min-height: 112px;
  border-bottom: 2px solid lightgrey;
}
.fa-shopping-cart {
  margin-right: 5px;
}
.categoryList {
  display: flex;
  justify-content: space-between;
  list-style: none;
  max-width: 1280px;
  width: 100%;
}

.categoryItem {
  padding: 12px 8px;
  cursor: pointer;
  text-align: center;
}

.categoryItem:hover {
  color: #2874f0;
}
.CategoryImg {
  height: 64px;
  width: 64px;
  margin-bottom: 3px;
}
.categoryName {
  font-size: 14px;
  font-weight: 550;
}
/* Product Listing */
.productsContainer{
  margin: 2% 6% ;
  height: 380px;;
  width:90%;
  /* background-color: #ffe500; */
  display: flex;
}
.leftContainer{
  /* display: flex; */
  justify-content: space-between;
  background-color: white;
  height: 100%;
width:80%;
}
.rightContainer
{
  background-color: white;
  height: 100%;
  width:15%;
  /* padding: auto;
  margin:auto ; */
}
.rightContainer img{
  padding: 0.7em;
}
.viewAll{
  text-decoration: none;
  color: white;
  font-size: 13px;
    font-weight: 600;
}
.viewBtn{
  margin:1% ;
  background-color: #2874f0;
  height:10%;
  padding: 10px 20px;
  
}
.headingContainer{
  display: flex;
  justify-content: space-between;
  box-shadow: 0 2px 0px gainsboro;
  height: fit-content;
  width: 100%;
}

.headingElectronics{
  margin:0.5% ;
  padding-top:10px;
  font-size: 27px;
    line-height: 1.0;
    font-weight: 400;
    color: #212121;
   
   
}

.electronicOptions {

  display: flex;
  background: #fff;
  justify-content: center;
  min-height: 112px;
  border-bottom: 2px solid lightgrey;
}
.electronicsList {
  /* display: block; */
  display: flex;
  justify-content: space-between;
  list-style: none;
  max-width: 1280px;
  width: 100%;
}

.electronicsItem {
  padding: 12px 8px;
  cursor: pointer;
  text-align: center;
}

.categoryItem:hover {
  color: #2874f0;
}
.electronicImg {
  height: 160px;
  width: 160px;
  margin-bottom: 3px;
}
.electronicName {
  padding: 5%;
  font-size: 14px;
  font-weight: 550;
}

.leftContainerOnly{
  justify-content: space-between;
  background-color: white;
  height: 100%;
width:95%;
}
.toysList {
 /* display: block; */
  display: flex;
  justify-content: space-between;
  list-style: none;
  max-width: 1580px;
  width: 100%;
}
.greenTxt{
  color:green;
  padding: 10px 0;
}
.brandTxt{
  color: #8e8e8f;;
}
#demo{
  display: flex;
 position: relative;
 right:30%;
 margin-top: 1.3%;
 font-size: larger;
 font-weight: 600;
 color: #5f5f5f;
}
.timer{
  padding-left: 1.5%;
  height:20px;
  width: 20px;
  color:  #2874f0 !important;
}
/* .fa-clock{
  color:black;
}
.glyphicon-time{

  color: #2874f0;
} */